/* ==========================================================================
   Custom styles
   ========================================================================== */

.img-margin {
   margin: auto;
}

.footer .container .copyright p {
   padding-top: 2%;
   text-align: center;
}