

/* ==========================================================================
   Author's custom styles
   ========================================================================== */














body {
   /*background: url(../img/covers/css-color-combos.jpg) no-repeat center center fixed;*/
   /*background-size: cover;*/
   position: relative;
}


.img-margin {
   margin: auto;
}

.footer .container .copyright p {
   padding-top: 2%;
   text-align: center;
}